*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --color: rgba(30, 30, 30);
    --bgcolor: rgba(245, 245, 245);
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;
    font-family: "Exo 2", sans-serif;
    color: var(--color);
    background: var(--bgcolor);
}
h1{
    text-align: center;
}
ol{
    width: min(60rem, 90%);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    list-style:none;
    counter-reset: stepnr;
}
li:nth-child(6n + 1){--acent-color: #b8df4e}
li:nth-child(6n + 2){--acent-color: #4cbccb}
li:nth-child(6n + 3){--acent-color: #7197d3}
li:nth-child(6n + 4){--acent-color: #ae78cb}
li:nth-child(6n + 5){--acent-color: #7dc7a4}
li:nth-child(6n + 6){--acent-color: #f078c2}

ol li{
    counter-increment: stepnr;
    width: 18rem;
    --borders: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(var(--borders) + 2rem);
    position: relative;
    aspect-ratio: 1;
}
ol li::before,
ol li::after{
    inset: 0;
    position: absolute;
    border-radius: 50%;
    border: var(--borders) solid var(--bgcolor);
    line-height: 1.1;
}
ol li::before{
    content: counter(stepnr);
    color: var(--acent-color);
    padding-left: 10rem;
    font-size: 12rem;
    font-weight: 700;
    overflow: hidden;
}
ol li::after{
    content: "";
    filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

ol li > *{width: 7.5rem;}
ol li .icon{
    font-size: 2rem;
    color: var(--acent-color);
    text-align: center;
}
ol li .descr{
    font-size: 2rem;
    font-weight: 500;
}
ol li .descr{
    font-size: 0.8rem;
    font-weight: 300;
}
.credits{
    margin-top: 2rem; text-align: right}
.credits a{color: var(--color)}










